#parse("/velocity/layout.vm")
#@mainLayout()
<form id="meForm" method="post">
    #if($signedIn)
        #if($createdPass)
            <h2>You have added a new password.</h2>
        #end
        <center>
            <hr>
            <h2>Phone Number: $currentUser</h2>
            <h2>Auth Token: $currentUserCode</h2>
             <hr>
        </center>

        <h2>Passwords</h2>
        <table style="width:100%">
          <tr>
            <th>Account Name</th>
            <th>Account Password</th>
            <th>Auth Token</th>
          </tr>
            #foreach($password in $passwords)
                <tr>
                    <td>$password.getAccount().get()</td>
                    <td>$password.getPassword().get()</td>
                </tr>
            #end
        </table>
        <h4>Add Password</h4>
        <input type="text" name="accountName" placeholder="$msg.get("PASSWORD_LABEL_ACCOUNT")" value="" required>
        <input type="text" name="accountPassword" placeholder="$msg.get("PASSWORD_LABEL_PASSWORD")" value="" required>
        <input type="submit" value="Add Password">
        <hr>
    #else
        <center>
            <h2>You are not logged in, please login <a href="/login/">here</a></h2>
        </center>
    #end
</form>
#end