#macro(mainLayout)
<html>
<head>
    <title>sAuth | Password-less Passwords</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
    <nav>
        <a href="$WebPath.getLANDING()"><img id="logo" src="/img/logo.png"></a>
                <ul id="chooseLanguage">
                    <form>
                        <li>
                            <button name="locale" value="en" style="background-image: url(/img/english.png);"></button>
                        </li>
                        <li>
                            <button name="locale" value="be" style="background-image: url(/img/belgium.png);"></button>
                        </li>
                        <li>
                            <button name="locale" value="sw" style="background-image: url(/img/swedish.png);"></button>
                        </li>
                        <li>
                            <button name="locale" value="pl" style="background-image: url(/img/polish.png);"></button>
                        </li>
                        <li>
                            <button name="locale" value="jp" style="background-image: url(/img/japanese.png);"></button>
                        </li>
                        </form>
        </ul>
        <ul id="menu">
            #if($currentUser)
                <li>
                    <form method="get" action="$WebPath.getME()">
                        <button id="logout">$msg.get("COMMON_NAV_ACCOUNT")</button>
                    </form>
                </li>
                <li>
                    <form method="post" action="$WebPath.getLOGOUT()">
                        <button id="logout">$msg.get("COMMON_NAV_LOGOUT")</button>
                    </form>
                </li>
            #else
                <li><a href="$WebPath.getLOGIN()"">$msg.get("COMMON_NAV_LOGIN")</a></li>
            #end
        </ul>
    </nav>
</header>
<main>
    <div>
        $bodyContent
    </div>
</main>
<footer>
    All rights reserved Seth McAllister, McAllister Software, 2015-2017.
</footer>
</body>
</html>
#end
